body{
    background-color: #0E1420;
    color: white;
}
.container{
    padding-top: 1rem;
}

#signup-form input, #login-form input{
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem;
}

.submit-button{
    background-color: #ff6e00;
    font-weight: 900;
    color: white;
}

.link{
    color: #ff6e00;
}
