body{
    background-color: #0e1420;
    color: white;
}

.product-card-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.imgWrapper{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center; /* horizontally align*/
    align-items: center; /* vertically align */
    border: #6c9fff 5px solid;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btnWrapper{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 2rem;
}

.plusMinusButton{
    background-color: #5781cf;
    height: 3rem;
    width: 5rem;
    border-radius: 8px;
    border: solid 5px #6c9fff;
}

.counter{

    text-align: center;
    width: 3rem;
    margin-left: auto;
}

.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.addBtn{
    width: 100%;
    height: 3rem;
    border: none;
    background-color: #ff6e00;
    color: white;
    font-weight: bolder;
    margin-bottom: 5rem;
    border-radius: 15px;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 60px white;
    z-index: -100;
}

.mauto{
    margin: auto;
}

.navbar{
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}