.divider{
    margin-top: 2rem;
}

.wrapper{
    background-color: #0E1420;
    width: 100vw;
    height: 100vh;
    color: white;
}

body{
    margin: 0;
}

.container{
    padding: 0 3rem;
    max-width: 100%;
    box-sizing: border-box;
}

#coffeegirl{
    padding-left: 2rem;
}

#titleCappucina{
    padding-top: 2rem;
}

#coffeetext{
    line-height: 2.5;
}

#loginForm input, #signupForm input{
    height: 3rem;
    width: 20rem;
    border-radius: 30px;
}

input#hausnummer{
    width: 100%;
}

input#street{
    width: 100%;
}

input#plz{
    width: 100%;
}

input#ort{
    width: 100%;
}