.divider{
    margin-top: 2em;
}

.wrapper{
    background-color: #0E1420;
    width: 100vw;
    color: white;
}

body{
    margin: 0;
}

.container{
    padding: 0 3rem;
    max-width: 100%;
    box-sizing: border-box;
}

#coffeegirl{
    padding-left: 2rem;
}

#titleCappucina{
    padding-top: 2rem;
}

#coffeetext{
    line-height: 2.5;
}